@charset "UTF-8";

/**
 * 全局样式
 */

html {
	background-color: #F8F8F8;
	font-size: $onerem;
}

body {
	font-size: .14rem;
}
// 页脚
.footer {
	position: fixed;
	width: 100%;
	bottom: 0;
}

// 转场 transition 开始
.vux-pop-out-transition,
.vux-pop-in-transition {
	width: 100%;
	animation-duration: 0.5s;
	animation-fill-mode: both;
	backface-visibility: hidden;
}

.vux-pop-out-enter,
.vux-pop-out-leave,
.vux-pop-in-enter,
.vux-pop-in-leave {
	will-change: transform;
	height: 100%;
	position: absolute;
	left: 0;
}

.vux-pop-out-enter {
	animation-name: popInLeft;
}

.vux-pop-out-leave {
	animation-name: popOutRight;
}

.vux-pop-in-enter {
	perspective: 1000;
	animation-name: popInRight;
}

.vux-pop-in-leave {
	animation-name: popOutLeft;
}

@keyframes popInLeft {
	from {
		transform: translate3d(-100%, 0, 0);
	}
	to {
		transform: translate3d(0, 0, 0);
	}
}

@keyframes popOutLeft {
	from {
		transform: translate3d(0, 0, 0);
	}
	to {
		transform: translate3d(-100%, 0, 0);
	}
}

@keyframes popInRight {
	from {
		transform: translate3d(100%, 0, 0);
	}
	to {
		transform: translate3d(0, 0, 0);
	}
}

@keyframes popOutRight {
	from {
		transform: translate3d(0, 0, 0);
	}
	to {
		transform: translate3d(100%, 0, 0);
	}
}

// 转场 transition 结束