@charset "UTF-8";

/**
 * home页面的样式，以 h- 开头
 */

.h-in-out {
	display: flex;
	color: #fff;
	background-color: $main-color;
	margin-top: -1px;
	padding: .20rem 0;
	div {
		flex: 1;
		text-align: center;
	}
	div:first-child {
		h3,
		p {
			border-right: 2px solid;
		}
	}
}

.h-item {
	display: flex;
	background-color: #fff;
	position: relative;
	height: .6rem;
	margin-right: 1px;
	div:first-child {
		width: .6rem;
		text-align: center;
		padding: .09rem .05rem;
	}
	div:last-child {
		flex: 1;
		padding: .12rem 0;
		line-height: .18rem;
		p {
			color: #999;
		}
		div {
			position: absolute;
			right: .1rem;
			top: .08rem;
			color: $main-color;
			font-size: .18rem;
		}
	}
	img {
		height: .42rem;
	}
}

.h-muti-btn {
	display: flex;
	background-color: #FF5353;
	color: #fff;
	width: 95%;
	margin: 0 auto;
	padding: .1rem 0;
	border-radius: .04rem;
	text-align: center;
	img {
		height: 2em;
	}
	div:first-child,
	div:last-child {
		padding: 0 .12rem;
	}
	div:nth-child(2) {
		position: relative;
		flex: 1;
		border-left: 1px solid;
		border-right: 1px solid;
		line-height: 2em;
		img {
			position: absolute;
			left: 24%;
		}
	}
}

.h-muti-btn:active {
	background-color: #e13e3e;
}

.h-out {
	display: flex;
	color: #999;
	padding: .1rem;
	background-color: #fff;
	div:first-child {
		position: relative;
		width: .6rem;
		p {
			position: absolute;
			bottom: .08rem;
		}
	}
	div:last-child {
		flex: 1;
		text-align: right;
		span {
			font-size: .42rem;
			color: $main-color;
		}
	}
}

.h-bt-6 {
	bottom: .6rem;
}