@charset "UTF-8";

/**
 * 函数
 */

// 扩展, 用法见 readme.md
@mixin print($declarations) {
    @each $property,
    $value in $declarations {
        #{$property}: $value
    }
}

// 一像素边框
@mixin border($declarations:(border: 1px solid, border-radius: 5px)) {
    @include print($declarations);
    @media screen and (-webkit-min-device-pixel-ratio: 2) {
        position: relative;
        border: 0;
        &:before {
            content: "";
            width: 200%;
            height: 200%;
            position: absolute;
            top: 0;
            left: 0;
            -webkit-transform: scale(.5);
            -webkit-transform-origin: 0 0;
            padding: 1px;
            -webkit-box-sizing: border-box;
            pointer-events: none;
            @include print($declarations);
        }
    }
}