@charset "UTF-8";
/**
 * 自定义变量
 */
/**
 * 函数
 */
/**
 * 样式初始化
 */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
header,
hgroup,
nav,
section,
article,
aside,
footer,
figure,
figcaption,
menu,
button {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, SimHei, "Helvetica Neue", Helvetica, sans-serif;
  -webkit-user-select: none;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  outline: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption,
th {
  text-align: left;
}

fieldset,
li {
  list-style: none;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

input,
button,
textarea,
select,
optgroup,
option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  outline: 0;
}

button {
  -webkit-appearance: none;
  border: 0;
  background: none;
  overflow: visible;
}

a {
  -webkit-touch-callout: none;
  text-decoration: none;
}

:focus {
  outline: 0;
  -webkit-tap-highlight-color: transparent;
}

em,
i {
  font-style: normal;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

figure {
  margin: 1em 40px;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * 全局样式
 */
html {
  background-color: #F8F8F8;
  font-size: 100px;
}

body {
  font-size: .14rem;
}

.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
}

.vux-pop-out-transition,
.vux-pop-in-transition {
  width: 100%;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  backface-visibility: hidden;
}

.vux-pop-out-enter,
.vux-pop-out-leave,
.vux-pop-in-enter,
.vux-pop-in-leave {
  will-change: transform;
  height: 100%;
  position: absolute;
  left: 0;
}

.vux-pop-out-enter {
  animation-name: popInLeft;
}

.vux-pop-out-leave {
  animation-name: popOutRight;
}

.vux-pop-in-enter {
  perspective: 1000;
  animation-name: popInRight;
}

.vux-pop-in-leave {
  animation-name: popOutLeft;
}

@keyframes popInLeft {
  from {
    transform: translate3d(-100%, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes popOutLeft {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }
}
@keyframes popInRight {
  from {
    transform: translate3d(100%, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes popOutRight {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(100%, 0, 0);
  }
}
.vux-header {
  position: relative;
  padding: 3px 0;
  box-sizing: border-box;
  background-color: #FF5353;
}

.vux-header .vux-header-title,
.vux-header h1 {
  margin: 0 88px;
  margin-left: 100px;
  line-height: 40px;
  text-align: center;
  height: 40px;
  font-size: 18px;
  font-weight: 400;
  width: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #fff;
}

.vux-header .vux-header-title > span {
  display: inline-block;
}

.vux-header .vux-header-left,
.vux-header .vux-header-right {
  position: absolute;
  top: 14px;
  display: block;
  font-size: 14px;
  line-height: 21px;
  color: #fff;
}
.vux-header .vux-header-left img,
.vux-header .vux-header-right img {
  height: 1.5em;
}
.vux-header .vux-header-left a,
.vux-header .vux-header-left button,
.vux-header .vux-header-right a,
.vux-header .vux-header-right button {
  float: left;
  margin-right: 8px;
  color: #fff;
}
.vux-header .vux-header-left a:active,
.vux-header .vux-header-left button:active,
.vux-header .vux-header-right a:active,
.vux-header .vux-header-right button:active {
  opacity: 0.5;
}

.vux-header .vux-header-left {
  left: 18px;
}

.vux-header .vux-header-left .vux-header-back {
  padding-left: 16px;
}

.vux-header .vux-header-left .left-arrow {
  position: absolute;
  width: 30px;
  height: 30px;
  top: -5px;
  left: -5px;
}
.vux-header .vux-header-left .left-arrow:before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  border: 1px solid #fff;
  border-width: 1px 0 0 1px;
  transform: rotate(315deg);
  top: 8px;
  left: 7px;
}

.vux-header .vux-header-right {
  right: 15px;
}

.vux-header .vux-header-right a,
.vux-header .vux-header-right button {
  margin-left: 8px;
  margin-right: 0;
}

.vux-header .vux-header-right .vux-header-more:after {
  content: "\2022\0020\2022\0020\2022\0020";
  font-size: 16px;
}

.vux-header-fade-in-right-enter {
  animation: fadeinR .5s;
}

.vux-header-fade-in-left-enter {
  animation: fadeinL .5s;
}

@keyframes fadeinR {
  0% {
    opacity: 0;
    transform: translateX(80px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeinL {
  0% {
    opacity: 0;
    transform: translateX(-80px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
/**
 * home页面的样式，以 h- 开头
 */
.h-in-out {
  display: flex;
  color: #fff;
  background-color: #FF5353;
  margin-top: -1px;
  padding: .20rem 0;
}
.h-in-out div {
  flex: 1;
  text-align: center;
}
.h-in-out div h3 {
  font-size: .16rem;
}
.h-in-out div:first-child h3,
.h-in-out div:first-child p {
  border-right: 2px solid;
}

.h-muti-btn {
  display: flex;
  background-color: #FF5353;
  color: #fff;
  width: 95%;
  margin: 0 auto;
  padding: .1rem 0;
  border-radius: .04rem;
  text-align: center;
}
.h-muti-btn img {
  height: 2em;
}
.h-muti-btn div:first-child,
.h-muti-btn div:last-child {
  padding: 0 .12rem;
}
.h-muti-btn div:nth-child(2) {
  position: relative;
  flex: 1;
  border-left: 1px solid;
  border-right: 1px solid;
  line-height: 2em;
}
.h-muti-btn div:nth-child(2) img {
  position: absolute;
  left: 24%;
}

.h-muti-btn:active {
  background-color: #e13e3e;
}

.h-out {
  display: flex;
  color: #999;
  padding: .1rem;
  background-color: #fff;
}
.h-out div:first-child {
  position: relative;
  width: .6rem;
}
.h-out div:first-child p {
  position: absolute;
  bottom: .08rem;
}
.h-out div:last-child {
  flex: 1;
  text-align: right;
}
.h-out div:last-child span {
  font-size: .42rem;
  color: #FF5353;
}

.h-bt-6 {
  bottom: .6rem;
}

/*# sourceMappingURL=app.css.map */
