@charset "UTF-8";
/**
 * 自定义变量
 */
/**
* Cell
*/
/**
 * 函数
 */
/**
 * 样式初始化
 */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
header,
hgroup,
nav,
section,
article,
aside,
footer,
figure,
figcaption,
menu,
button {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, SimHei, "Helvetica Neue", Helvetica, sans-serif;
  -webkit-user-select: none;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  outline: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 16px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption,
th {
  text-align: left;
}

fieldset,
li {
  list-style: none;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

input,
button,
textarea,
select,
optgroup,
option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  outline: 0;
  border: 0;
}

button {
  -webkit-appearance: none;
  border: 0;
  background: none;
  overflow: visible;
}

a {
  -webkit-touch-callout: none;
  text-decoration: none;
}

:focus {
  outline: 0;
  -webkit-tap-highlight-color: transparent;
}

em,
i {
  font-style: normal;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

figure {
  margin: 1em 40px;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * 全局样式
 */
html {
  background-color: #F8F8F8;
  font-size: 100px;
}

body {
  font-size: .14rem;
}

.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
}

.menu {
  position: absolute;
  z-index: 999;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  height: 100%;
  left: -100%;
}
.menu .leftM {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 67%;
  height: 100%;
  background-color: #fff;
  box-shadow: 5px 0 5px rgba(0, 0, 0, 0.4);
  float: left;
}
.menu .leftM .top {
  height: 1.3rem;
  background: url(../../assets/img/beijing.jpg);
  background-size: cover;
}
.menu .leftM .top img {
  width: .2rem;
  float: right;
  margin: .05rem;
}
.menu .leftM .bottom {
  background: -webkit-gradient(linear, right top, left bottom, color-stop(0%, #FF324E), color-stop(100%, #FF4F2C));
  flex: 1;
  padding-top: 1.1rem;
}
.menu .leftM .float {
  position: absolute;
  width: 100%;
  text-align: center;
  top: .8rem;
  color: #fff;
  font-size: .20rem;
}
.menu .leftM .float .img {
  background-color: #fff;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 2px solid #fff;
}
.menu .leftM .float .icM {
  position: absolute;
  width: .3rem;
  height: .3rem;
  border-radius: 50%;
  top: 0;
  left: 58%;
  background-color: #FF2B54;
  text-align: center;
  line-height: .33rem;
}
.menu .leftM .float .icM .pic {
  width: .18rem;
  height: .18rem;
}
.menu .rightM {
  float: right;
  width: 33%;
  height: 100%;
}

.logout {
  position: absolute;
  bottom: 0;
  margin-bottom: .1rem;
}

.menu-item {
  color: #fff;
  line-height: .26rem;
  padding: .1rem .1rem .1rem .3rem;
}
.menu-item img {
  width: .28rem;
  display: block;
  float: left;
}
.menu-item span {
  display: inline-block;
  margin-left: .2rem;
}

/**
 * 动画，
 */
@-webkit-keyframes fadeInLeft {
  0% {
    left: -100%;
  }
  100% {
    left: 0px;
  }
}
@keyframes fadeInLeft {
  0% {
    left: -100%;
  }
  100% {
    left: 0px;
  }
}
.menu_animation {
  -webkit-animation: fadeInLeft .5s 0s linear both;
  animation: fadeInLeft .5s 0s linear both;
  box-shadow: -5px 0px 15px rgba(0, 0, 0, 0.4);
}

@-webkit-keyframes fadeInRight {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}
@keyframes fadeInRight {
  0% {
    left: 0;
  }
  to {
    left: -100%;
  }
}
.menu_animation1 {
  -webkit-animation: fadeInRight .5s 0s linear both;
  animation: fadeInRight .5s 0s linear both;
}

.vux-pop-out-transition,
.vux-pop-in-transition {
  width: 100%;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  backface-visibility: hidden;
}

.vux-pop-out-enter,
.vux-pop-out-leave,
.vux-pop-in-enter,
.vux-pop-in-leave {
  will-change: transform;
  height: 100%;
  position: absolute;
  left: 0;
}

.vux-pop-out-enter {
  animation-name: popInLeft;
}

.vux-pop-out-leave {
  animation-name: popOutRight;
}

.vux-pop-in-enter {
  perspective: 1000;
  animation-name: popInRight;
}

.vux-pop-in-leave {
  animation-name: popOutLeft;
}

@keyframes popInLeft {
  from {
    transform: translate3d(-100%, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes popOutLeft {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }
}
@keyframes popInRight {
  from {
    transform: translate3d(100%, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes popOutRight {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(100%, 0, 0);
  }
}
@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
.an-rotate {
  -webkit-animation: rotation 2.5s linear infinite;
}

.vux-header {
  position: relative;
  padding: 3px 0;
  box-sizing: border-box;
  background-color: #FF5353;
}

.vux-header .vux-header-title,
.vux-header h1 {
  margin: 0 88px;
  margin-left: 100px;
  line-height: 40px;
  height: 40px;
  font-size: 18px;
  font-weight: 400;
  width: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #fff;
}

.vux-header .vux-header-title > span {
  display: inline-block;
}

.vux-header .vux-header-left,
.vux-header .vux-header-right {
  position: absolute;
  top: 14px;
  display: block;
  font-size: 14px;
  line-height: 21px;
  color: #fff;
}
.vux-header .vux-header-left img,
.vux-header .vux-header-right img {
  height: 1.5em;
}
.vux-header .vux-header-left a,
.vux-header .vux-header-left button,
.vux-header .vux-header-right a,
.vux-header .vux-header-right button {
  float: left;
  margin-right: 8px;
  color: #fff;
}
.vux-header .vux-header-left a:active,
.vux-header .vux-header-left button:active,
.vux-header .vux-header-right a:active,
.vux-header .vux-header-right button:active {
  opacity: 0.5;
}

.vux-header .vux-header-left {
  left: 18px;
}

.vux-header .vux-header-left .vux-header-back {
  padding-left: 16px;
}

.vux-header .vux-header-left .left-arrow {
  position: absolute;
  width: 30px;
  height: 30px;
  top: -5px;
  left: -5px;
}
.vux-header .vux-header-left .left-arrow:before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  border: 1px solid #fff;
  border-width: 1px 0 0 1px;
  transform: rotate(315deg);
  top: 8px;
  left: 7px;
}

.vux-header .vux-header-right {
  right: 15px;
}

.vux-header .vux-header-right a,
.vux-header .vux-header-right button {
  margin-left: 8px;
  margin-right: 0;
}

.vux-header .vux-header-right .vux-header-more:after {
  content: "\2022\0020\2022\0020\2022\0020";
  font-size: 16px;
}

.vux-header-fade-in-right-enter {
  animation: fadeinR .5s;
}

.vux-header-fade-in-left-enter {
  animation: fadeinL .5s;
}

@keyframes fadeinR {
  0% {
    opacity: 0;
    transform: translateX(80px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeinL {
  0% {
    opacity: 0;
    transform: translateX(-80px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.xs-plugin-pullup-container {
  text-align: center;
}

/**
 * home页面的样式，以 h- 开头
 */
.h-date {
  line-height: .42rem;
  color: #999;
  padding: 0 .1rem;
}
.h-date div {
  float: right;
}

.h-in-out {
  display: flex;
  color: #fff;
  background-color: #FF5353;
  margin-top: -1px;
  padding: .20rem 0;
}
.h-in-out div {
  flex: 1;
  text-align: center;
}
.h-in-out div:first-child h3,
.h-in-out div:first-child p {
  border-right: 1px solid;
}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
  .h-in-out div:first-child h3,
  .h-in-out div:first-child p {
    position: relative;
    border: 0;
  }
  .h-in-out div:first-child h3:before,
  .h-in-out div:first-child p:before {
    content: "";
    width: 200%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: scale(0.5);
    -webkit-transform-origin: 0 0;
    padding: 1px;
    -webkit-box-sizing: border-box;
    pointer-events: none;
    border-right: 1px solid;
  }
}

.h-input-btn {
  display: flex;
  background-color: #FF5353;
  color: #fff;
  padding: .1rem .12rem;
  text-align: center;
  line-height: 2em;
  font-size: .16rem;
}
.h-input-btn .h-input {
  flex: 1;
  padding-right: .12rem;
}
.h-input-btn .h-input input {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  text-indent: .1rem;
}
.h-input-btn .h-btn {
  width: 2.4em;
  border-radius: 50%;
}
.h-input-btn .h-btn:active {
  background-color: #e13e3e;
}

.h-item {
  display: flex;
  background-color: #fff;
  position: relative;
  height: .6rem;
  margin-right: 1px;
}
.h-item div:first-child {
  width: .6rem;
  text-align: center;
  padding: .09rem .05rem;
}
.h-item div:last-child {
  flex: 1;
  padding: .12rem 0;
  line-height: .18rem;
}
.h-item div:last-child p {
  color: #999;
  font-size: .12rem;
}
.h-item div:last-child div {
  position: absolute;
  right: .1rem;
  top: .08rem;
  color: #FF5353;
  font-size: .16rem;
}
.h-item img {
  height: .36rem;
}

.h-muti-btn {
  display: flex;
  background-color: #FF5353;
  color: #fff;
  width: 95%;
  margin: 0 auto;
  padding: .1rem 0;
  border-radius: .04rem;
  text-align: center;
  margin-bottom: .09rem;
}
.h-muti-btn img {
  height: .22rem;
  padding-top: .04rem;
}
.h-muti-btn div:first-child,
.h-muti-btn div:last-child {
  padding: 0 .12rem;
}
.h-muti-btn div:nth-child(2) {
  position: relative;
  flex: 1;
  line-height: 2em;
  font-size: .16rem;
  border-left: 1px solid;
  border-right: 1px solid;
}
.h-muti-btn div:nth-child(2) img {
  position: absolute;
  left: 24%;
}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
  .h-muti-btn div:nth-child(2) {
    position: relative;
    border: 0;
  }
  .h-muti-btn div:nth-child(2):before {
    content: "";
    width: 200%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: scale(0.5);
    -webkit-transform-origin: 0 0;
    padding: 1px;
    -webkit-box-sizing: border-box;
    pointer-events: none;
    border-left: 1px solid;
    border-right: 1px solid;
  }
}

.h-muti-btn:active {
  background-color: #e13e3e;
}

.h-out {
  display: flex;
  color: #999;
  padding: .1rem;
  background-color: #fff;
}
.h-out div:first-child {
  position: relative;
  width: .6rem;
}
.h-out div:first-child p {
  position: absolute;
  bottom: .08rem;
}
.h-out div:last-child {
  flex: 1;
  text-align: right;
}
.h-out div:last-child span {
  font-size: .42rem;
  color: #FF5353;
}

.h-bt-6 {
  bottom: .7rem;
}

/**
 * account页面的样式，以 ac- 开头
 */
.ac-bgc {
  background-color: #fff;
}

.ac-btn {
  background-color: #FF5353;
  color: #fff;
  width: 95%;
  margin: 0 2.5%;
  border-radius: .04rem;
  text-align: center;
  line-height: .48rem;
  font-size: .16rem;
  margin-bottom: .09rem;
}

.ac-btn:active {
  background-color: #e13e3e;
}

.ac-inoutul {
  display: flex;
  border-top: 1px solid #e6e6e6;
}
.ac-inoutul li {
  list-style: none;
  flex: 1;
  text-align: center;
  font-size: .16rem;
  background-color: #F8F8F8;
  line-height: .48rem;
}
.ac-inoutul .ac-target {
  background-color: #fff;
}

.ac-input {
  display: flex;
  padding: .10rem .05rem;
  font-size: .16rem;
  height: .42rem;
  line-height: .42rem;
  border-top: 1px solid #e6e6e6;
}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
  .ac-input {
    position: relative;
    border: 0;
  }
  .ac-input:before {
    content: "";
    width: 200%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: scale(0.5);
    -webkit-transform-origin: 0 0;
    padding: 1px;
    -webkit-box-sizing: border-box;
    pointer-events: none;
    border-top: 1px solid #e6e6e6;
  }
}
.ac-input div:first-child {
  width: .42rem;
  text-align: center;
  padding: 0 .05rem;
  line-height: .52rem;
}
.ac-input div:last-child {
  flex: 1;
}
.ac-input div:last-child input {
  width: 100%;
}
.ac-input img {
  height: .20rem;
}

.ac-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0 .1rem;
}
.ac-items .ac-item {
  text-align: center;
  padding: .2rem .05rem;
  position: relative;
}
.ac-items .ac-item img {
  height: .36rem;
}
.ac-items .ac-item span {
  display: block;
}

.ac-money {
  display: flex;
  padding: .15rem .05rem;
  font-size: .16rem;
  height: .36rem;
  line-height: .36rem;
}
.ac-money div {
  padding: 0 .05rem;
}
.ac-money div:last-child {
  flex: 1;
}
.ac-money div:last-child input {
  width: 100%;
  text-align: right;
  color: #FF5353;
  font-size: .20rem;
}
.ac-money div:last-child input::-webkit-input-placeholder {
  color: #FF5353;
}
.ac-money img {
  height: .36rem;
}

.ac-move {
  position: absolute;
  left: .14rem;
  top: .2rem;
  transition: All .4s ease-in-out;
  -webkit-transition: All .4s ease-in-out;
}

/*# sourceMappingURL=app.css.map */
