@charset "UTF-8";

// 字体
.normal {
  font-size: @normal;
  font-weight: bold;
}
.small {
  font-size: @small;
}
.desc {
  font-size: @smaller;
  color: @gray;
}
.sys-orange {
  color: orange;
}
.black {
  color: @black;
}
.dark {
  color: #333333;
}
.gray {
  color: @gray;
}
.red {
  color: @red;
}
.green {
  color: @green;
}

// 排版
.txt-l {
  text-align: left;
}
.txt-c {
  text-align: center;
}
.txt-r {
  text-align: right;
}
.lh-15 {
  line-height: 1.5;
}
.lh-2 {
  line-height: 2;
}

// 内边距
.pdlr-28 {
  padding: 0 .028rem;
}
.pdt-14 {
  padding-top: .014rem;
}
.pdb-36 {
  padding-bottom: .036rem;
}

// 外边距
.mg-t-20 {
  margin-top: .04rem;
}
.mgl-16 {
  margin-left: .016rem;
}
.mgl-08 {
  margin-left: .008rem;
}
.mg-t-20 {
  margin-top: .04rem;
}

// 透明度
.opacity-68 {
  opacity: .68;
}
.opacity-72 {
  opacity: .72;
}

// 定位
.top-2 {
  top: 2px;
}

// 边框
.bdb {
  position: relative;
  &:after {
    content: ' ';
    height: 1px;
    transform: scaleY(0.5);
    background: @bg;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

// 背景
.transparent {
  background: transparent;
}
