@charset "UTF-8";

/**
 * account页面的样式，以 ac- 开头
 */

.ac-btn {
    background-color: #FF5353;
    color: #fff;
    width: 95%;
    margin: 0 2.5%;
    border-radius: .04rem;
    text-align: center;
    line-height: .48rem;
    font-size: .16rem;
    margin-bottom: .09rem;
}

.ac-btn:active {
    background-color: #e13e3e;
}

.ac-inoutul {
    display: flex;
    border-top: 1px solid #e6e6e6;
    li {
        list-style: none;
        flex: 1;
        text-align: center;
        font-size: .16rem;
        background-color: $html-color;
        line-height: .48rem;
    }
    .ac-target {
        background-color: #fff;
    }
}

.ac-input {
    display: flex;
    padding: .10rem .05rem;
    font-size: .16rem;
    height: .42rem;
    line-height: .42rem;
    @include border((border-top: 1px solid #e6e6e6));
    div:first-child {
        width: .42rem;
        text-align: center;
        padding: 0 .05rem;
        line-height: .52rem;
    }
    div:last-child {
        flex: 1;
        input {
            width: 100%;
        }
    }
    img {
        height: .20rem;
    }
}

.ac-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0 .1rem;
    .ac-item {
        text-align: center;
        padding: .2rem .05rem;
        position: relative;
        img {
            height: .36rem;
        }
        span {
            display: block;
        }
    }
}

.ac-money {
    display: flex;
    padding: .15rem .05rem;
    font-size: .16rem;
    height: .36rem;
    line-height: .36rem;
    div {
        padding: 0 .05rem;
    }
    div:last-child {
        flex: 1;
        input {
            width: 100%;
            text-align: right;
            color: $main-color;
            font-size: .20rem;
        }
        input::-webkit-input-placeholder {
            color: $main-color;
        }
    }
    img {
        height: .36rem;
    }
}

.ac-move {
    position: absolute;
    left: .14rem;
    top: .2rem;
    transition: All .4s ease-in-out;
    -webkit-transition: All .4s ease-in-out;
}