@charset "UTF-8";

/**
 * 全局样式
 */

html {
  background-color: #fff;
  font-size: $onerem;
  height: 100%;
}

body {
  font-size: .14rem;
  height: 100%;
}

// 主页面
#app {
  height: 100%;
}

// 页脚
.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
}

// 侧滑菜单 开始，待分离
.menu {
  position: absolute;
  z-index: 999;
  width: 100%;
  background-color: rgba(0, 0, 0, .1);
  height: 100%;
  left: -100%;
  .leftM {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 67%;
    height: 100%;
    background-color: #fff;
    box-shadow: 5px 0 5px rgba(0, 0, 0, .4);
    float: left;
    .top {
      height: 1.3rem;
      background: url(/static/img/beijing.jpg);
      background-size: cover;
      img {
        width: .2rem;
        float: right;
        margin: .05rem;
      }
    }
    .bottom {
      background: -webkit-gradient(linear, right top, left bottom, color-stop(0%, #FF324E), color-stop(100%, #FF4F2C));
      flex: 1;
      padding-top: 1.1rem;
    }
    .float {
      position: absolute;
      width: 100%;
      text-align: center;
      top: .8rem;
      color: #fff;
      font-size: .20rem;
      .img {
        background-color: #fff;
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        border: 2px solid #fff;
      }
      .icM {
        position: absolute;
        width: .3rem;
        height: .3rem;
        border-radius: 50%;
        top: 0;
        left: 58%;
        background-color: #FF2B54;
        text-align: center;
        line-height: .33rem;
        .pic {
          width: .18rem;
          height: .18rem;
        }
      }
    }
  }
  .rightM {
    float: right;
    width: 33%;
    height: 100%;
  }
}

.logout {
  position: absolute;
  bottom: 0;
  margin-bottom: .1rem;
}

.menu-item {
  color: #fff;
  line-height: .26rem;
  padding: .1rem .1rem .1rem .3rem;
  img {
    width: .28rem;
    display: block;
    float: left;
  }
  span {
    display: inline-block;
    margin-left: .2rem;
  }
}

// 侧滑菜单 结束
.g-bgc-b {
  background-color: #000;
}

.g-relative {
  position: relative;
}