@charset "UTF-8";

/**
 * 自定义变量
 */

// 数字
// 尺寸
$onerem: 100px;

// 颜色
$default-color: #999;
$html-color: #F8F8F8;
$main-color: #FF5353;

// x-header颜色
$x-header-background-color: #FF5353;
$x-header-title-color: #fff;
$x-header-text-color: #fff;
$x-header-arrow-color: #fff;

/**
* Cell
*/
$cell-body-label-color: #000;