@charset "UTF-8";

/**
 * wealth页面的样式，以 w- 开头
 */

.w-cell-icon {
  width: .3rem;
  margin-right: .15rem;
}

.w-sum {
  position: absolute;
  top: -1.6em;
  left: .05rem;
  color: #fff;
  font-size: .16rem;
}