@charset "UTF-8";

/**
 * wealth页面的样式，以 w- 开头
 */

.w-cell-icon {
  width: .3rem;
  margin-right: .15rem;
}

.w-sum {
  position: absolute;
  top: -1.6em;
  left: .05rem;
  color: #fff;
  font-size: .16rem;
}

.w-banner {
  text-align: center;
  background-color: orange;
}

.w-form {
  display: flex;
  padding: .10rem .05rem;
  font-size: .16rem;
  height: .42rem;
  line-height: .42rem;
  @include border((border-top: 1px solid #e6e6e6));
  .i-icon {
    width: .42rem;
    text-align: center;
    padding: 0 .05rem;
    line-height: .52rem;
  }
  .weui_cell {
    padding: 0;
  }
  div:last-child {
    flex: 1;
    input {
      width: 100%;
    }
  }
  img {
    height: .20rem;
  }
}

.w-val {
  float: left;
  width: 90%;
}