@charset "UTF-8";

// Todo 整理.ui-

/**
 * 页面样式
 */

.ui-wealthes {
  padding: .12rem;
  //  height: 366px;
}

.ui-plan {
  background-color: #F7F7F9;
  padding-bottom: .2rem;
  div:first-child {
    background-color: #FFFFFF;
  }
}

.ui-ui {
  background-image: -webkit-gradient(linear, left bottom, right top, from(#86B5EF), to(#6774E4));
  position: relative;
  .sound {
    height: .2rem;
    background: #FFFFFF;
    position: absolute;
    width: 50%;
    left: 25%;
    top: 0;
    border-radius: 0 0 .18rem .18rem;
    .icon-heng {
      font-size: 2.6em;
      position: absolute;
      top: -.5em;
      left: 35%;
      color: #E0E3E5;
    }
    .icon-dian {
      font-size: 2.6em;
      position: absolute;
      top: -21px;
      left: calc(~"35% + 43px");
      color: #E0E3E5;
    }
  }
  .title {
    display: flex;
    text-align: center;
    a {
      flex: 1;
      position: relative;
    }
  }
  .underline:after {
    content: ' ';
    width: 1.2em;
    position: absolute;
    border-bottom: 2px solid #FFFFFF;
    bottom: 0;
    left: calc(~"50% - 10px");
  }
  .number {
    color: #FFFFFF;
    text-align: center;
    margin-top: 1.2em;
    padding-bottom: 2.5em;
    .main {
      font-size: 2.2em;
      position: relative;
      &:before {
        content: '￥';
        position: absolute;
        left: -20px;
        bottom: 0;
        font-size: .5em;
      }
      &:after {
        .border;
        bottom: -20%;
        right: -20%;
        width: 140%;
        height: 1px;
        border-bottom: 1px solid #E0E3E5;
      }
    }
  }
}

.ui-analyze {
  /*padding-top: .2rem;*/
  position: relative;
  .sound {
    height: .2rem;
    background: #FFFFFF;
    position: absolute;
    width: 50%;
    left: 25%;
    top: 0;
    border-radius: 0 0 .18rem .18rem;
    .icon-heng {
      font-size: 2.6em;
      position: absolute;
      top: -.5em;
      left: 35%;
      color: #E0E3E5;
    }
    .icon-dian {
      font-size: 2.6em;
      position: absolute;
      top: -21px;
      left: calc(~"35% + 43px");
      color: #E0E3E5;
    }
  }
  .title {
    display: flex;
    text-align: center;
    a {
      flex: 1;
      position: relative;
    }
  }
  .underline {
    color: #333;
    &:after {
      content: ' ';
      width: 1.2em;
      position: absolute;
      border-bottom: 2px solid #2F95FF;
      bottom: 0;
      left: calc(~"50% - 10px");
    }
  }
}

.ui-list {
  padding: .1rem 0;
  display: flex;
  .item {
    width: 4em;
    text-align: center;
    padding: 0 .5em;
    p:first-child {
      color: #505050;
    }
    p:last-child {
      color: #77819C;
    }
    .icon {
      height: 100%;
      i {
        font-size: .3rem;
        color: #505050;
      }
      &:active {
        background-color: #FAFAFA;
        border-radius: .06rem;
      }
    }
    &:active {
      background-color: #FAFAFA;
      border-radius: .06rem;
      opacity: .6;
    }
  }
}

.bill {
  margin-bottom: 1em;
  .date {
    color: #77819C;
    font-size: .8em;
  }
  .detail {
    padding: .15rem .1rem .15rem .6rem;
    background-color: #F3F8FD;
    position: relative;
    height: .4rem;
    line-height: .4rem;
    border-radius: .05rem;
    margin-top: 1em;
    color: #77819C;
    &:active {
      background-color: #FAFAFA;
      opacity: .6;
    }
  }
  img {
    background-color: #6774E4;
    border-radius: 50%;
    width: .3rem;
    padding: .05rem;
    position: absolute;
    left: .1rem;
  }
  .money {
    font-weight: bold;
  }
}

.ui-add {
  background-image: -webkit-gradient(linear, left bottom, right top, from(#85B3EE), to(#6571E3));
  text-align: center;
  height: 3.6em;
  // border-radius: 0 0 .18rem .18rem;
  line-height: 3.6em;
  position: fixed;
  width: 100%;
  bottom: 0;
  i {
    font-size: 1.5em;
  }
  .heng {
    height: 8px;
    width: 30%;
    background: #fff;
    position: absolute;
    left: 35%;
    bottom: 5px;
    opacity: .18;
    border-radius: 4px;
  }
  &:active {
    background: #85B3EE;
    opacity: .6;
  }
}

.yield {
  position: relative;
  display: inline-block;
  margin-left: 1em;
}

.yuan {
  .yield;
  &:before {
    content: '￥';
    position: absolute;
    left: -1.1em;
    bottom: 2px;
    font-size: .6em;
  }
}

.ui-info {
  padding: .15rem .1rem .15rem 0.7rem;
  position: relative;
  height: .4rem;
  line-height: .4rem;
  border-radius: .05rem;
  margin-top: 1em;
  color: #FFFFFF;
  img {
    background-color: #6774E4;
    border-radius: 50%;
    width: .36rem;
    padding: .05rem;
    position: absolute;
    left: .1rem;
  }
  .name {
    line-height: 110%;
    padding: .1rem 0;
    flex: 1;
  }
  input {
    background: transparent;
    color: #fff;
    font-size: .21rem;
    width: 1.3rem;
    text-align: right;
  }
}

.ui-wls {
  padding: .15rem;
  display: flex;
  flex-wrap: wrap;
  .item {
    text-align: center;
    font-size: .8em;
    padding: .1rem;
    width: .48rem;
    color: #7D7D7D;
    img {
      background-color: #E8F8E8;
      border-radius: 100%;
      width: .3rem;
      padding: .05rem;
    }
    &.selected {
      color: #505050;
      img {
        background-color: #6774E4;
      }
    }
  }
}

.ui-wname {
  padding: .15rem .1rem .15rem 0.8rem;
  position: relative;
  height: .4rem;
  line-height: .5rem;
  border-radius: .05rem;
  margin-top: 1em;
  color: #FFFFFF;
  img {
    background-color: #6774E4;
    border-radius: 50%;
    width: .36rem;
    padding: .05rem;
    position: absolute;
    left: .15rem;
  }
  input {
    height: 100%;
    width: 100%;
    background: transparent;
    color: #fff;
    font-size: .21rem;
  }
  &:after {
    .border;
    bottom: 0;
    left: .8rem;
    width: 72%;
    height: 1px;
    border-bottom: 1px solid #FFFFFF;
  }
}

.ui-chart {
  position: relative;
  margin: 2%;
  margin-bottom: .2rem;
  &:after {
    .border;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    border: 1px solid #CCCCCC;
    border-radius: .08rem;
  }
  .ctitle {
    padding: .05rem .1rem;
    position: absolute;
    width: 100%;
    // text-align: center;
  }
  .total {
    position: absolute;
    left: 35%;
    width: 30%;
    top: 1.36rem;
    text-align: center;
    color: #232323;
    font-size: .22rem;
    font-weight: bold;
    line-height: 1.2;
  }
  .list {
    margin-top: -0.54rem;
  }
  .list-item {
    display: flex;
    padding: .1rem .1rem .1rem .3rem;
    color: #A0A7BA;
    position: relative;
    i {
      position: absolute;
      display: block;
      width: 8px;
      height: 8px;
      background-color: #748FE9;
      border-radius: 50%;
      left: 15px;
      top: 18px;
    }
    span:nth-child(2) {
      flex: 1;
    }
    span:not(:nth-child(2)) {
      width: .8rem;
      text-align: right;
    }
  }
}

.ui-menu {
  position: fixed;
  z-index: 10000;
  width: 100%;
  height: 100%;
  left: -100%;
  &-containt {
    width: 75%;
    height: 100%;
    background: #FFFFFF;
    float: left;
    position: relative;
  }
  &-mask {
    width: 25%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    float: left;
  }
  &-head {
    height: 25%;
    background-image: -webkit-gradient(linear, left bottom, right top, from(#86B5EF), to(#6774E4));
    color: #FFFFFF;
    text-align: center;
    img {
      width: .8rem;
      margin-top: .2rem;
      border-radius: 100%;
      border: 2px solid #FFFFFF;
    }
  }
  &-list {
    padding-top: .2rem;
    li {
      color: #777777;
      padding-left: .9rem;
      line-height: .7rem;
      font-size: .18rem;
      position: relative;
      &:active {
        background: #F6F6F6;
        opacity: .6;
      }
    }
    img {
      position: absolute;
      left: .4rem;
      top: 26%;
    }
  }
  &-logout {
    position: absolute;
    bottom: .3rem;
    right: .2rem;
    line-height: .36rem;
    font-size: .18rem;
    color: #77777777;
    padding-right: .4rem;
    img {
      position: absolute;
      right: 0;
      top: 0;
      width: .36rem;
    }
  }
}

// 修复
.icon-syn {
  font-size: .24rem;
  font-weight: 100;
}

.icon-parent {
  font-size: .2rem;
  font-weight: 100;
}

// 弹出框
.popue {
  &-title {
    padding: .2rem .15rem .15rem;
    line-height: 1;
    font-weight: 400;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  &-content {
    font-size: .16rem;
    padding: 0 .16rem .2rem;
    color: #505050;
  }
  &-footer {
    height: .44rem;
    line-height: .44rem;
    text-align: center;
    color: #505050;
    display: flex;
    .defaul_btn {
      height: 100%;
      width: 100%;
      color: #85B3EE;
      font-size: 17px;
      &:active {
        color: #0091cb;
      }
    }
  }
}