@charset "UTF-8";

/**
 * 自定义变量
 */

// 颜色
@dark: #333333;
@black-main-color: #505050;
@blue-desc-color: #77819C;
@deep-blue: #6774E4;
@red: #FC7D70;
@grey: #999999;
@bg-color: #FFFFFF;
// 尺寸
@onerem: 100px;
