@charset "UTF-8";

/**
 * weui样式本地化
 * UI组件的重写覆盖
 */
// 页头
.vux-header {
  background-color: transparent;
  font-weight: bold;
  .vux-header-title {
    font-size: .17rem;
    color: #979797;
  }
  .vux-header-left, .vux-header-right a {
    color: @dark;
  }
}

// 表单
.weui-cells {
  margin-top: .77em;
}

.weui-label {
  color: #7D7D7D;
}

.vux-label {
  color: #7D7D7D;
}
.vux-x-textarea.weui-cell {
  color: #7D7D7D;
}

.vux-datetime {
  color: #7D7D7D;
}

// 开关
.weui-switch:checked {
  border-color: #85B3EE;
  background-color: #85B3EE;
}

// silder
.dp-header .dp-item.dp-right {
  color: #85B3EE;
}

// 对话框
.weui-dialog {
  border-radius: .06rem;
}

.weui {
  &-select,
  &-input {
    color: #7D7D7D;
  }
}

